#center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#caleandar{
    margin: auto;
    width: 50%;
    padding: 10px;
}

:root {
    --primary-gradient: linear-gradient(-45deg, #8ED4FF, #8368FF, #C468FF, #FF6881);
    --dark-color: rgb(52, 58, 64);
    --dark-transparent: rgba(52, 58, 64, 0.5);
    --light-transparent: rgba(52, 58, 64, 0.25);
    --light-gray: #818181;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

body {
    background: var(--primary-gradient);
    background-size: 400% 400%;
    animation: gradient 24s ease infinite;
    min-height: 100vh;
    overflow-x: hidden;
}
