<h4>Datum:</h4><input type="text" id="datepicker" class="btn btn-light">

<br><br><h4>Opis:</h4>
<input type="text" id="opis" name="opis" class="btn btn-light"><br><br>

<h4>Link:</h4>
<input type="text" id="link" name="link" class="btn btn-light"><br><br>

<button type="button" class="btn btn-light" id="dodajEvent">Dodaj event</button><br><br>
<button type="button" class="btn btn-info" id="logoutBtn">Odjavi se</button>